html,
body {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

:root {
  --red: #ff7979;
  --green: #38cc8b;
  --blue: #5e54a4;
  --dark-blue: #3d3b48;
  --grayish-blue: hsl(246, 25%, 77%);
}

body {
  background: var(--red) url(images/bg-intro-mobile.png) repeat center;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

header {
  width: 375px;
  margin: 88px 24px 64px 24px;
  text-align: center;
  color: #ffffff;
}
header h1 {
  font-weight: 700;
  font-size: 1.75rem;
}
header p {
  font-weight: 500;
  font-size: 1rem;
}

main {
  width: 375px;
  height: 554px;
  margin: 0px 24px 64px 24px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

#btn__try {
  width: 327px;
  height: 88px;
  background: var(--blue);
  color: #ffffff;
  font-size: 0.94rem;
  line-height: 1.625rem;
  box-shadow: 0px 8px 0px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  border: none;
}
#btn__try .first-line {
  display: block;
}
.bold {
  font-weight: bold;
}

form ul {
  width: 327px;
  height: 442px;
  background: #ffffff;
  box-shadow: 0px 8px 0px rgba(0, 0, 0, 0.15);
  margin-top: 24px;
  padding: 30px;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border-radius: 10px;
}
li {
  margin-bottom: 16px;
}

li input {
  width: 279px;
  height: 56px;
  border: solid 1px rgb(222, 222, 222);
  border-radius: 5px;
  padding: 12px;
}
input::placeholder {
  font-size: 0.875rem;
  font-weight: bold;
  color: #3d3b48;
  opacity: 0.75;
}
li p {
 
}
.btn {
	
cursor:pointer
}
#btn__Claim {
  background-color: var(--green);
  color: #ffffff;
  text-transform: uppercase;
  font-size: 0.94rem;
}

.disclaimer {
  width: 249px;
  color: #bdb7d4;
  text-align: center;
  font-size: 0.687rem;
  line-height: 21px;
}
.disclaimer a {
	text-decoration:none;
  color: var(--red);
}
