html,
body {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

:root {
  --red: #ff7979;
  --green: #38cc8b;
  --blue: #5e54a4;
  --dark-blue: #3d3b48;
  --grayish-blue: hsl(246, 25%, 77%);
}

body {
  background: var(--red) url(images/bg-intro-mobile.png) repeat center;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

header {
  width: 375px;
  margin: 88px 24px 64px 24px;
  text-align: center;
  color: #ffffff;
}
header h1 {
  font-weight: 700;
  font-size: 1.75rem;
}
header p {
  font-weight: 500;
  font-size: 1rem;
}

main {
  width: 327px;
  margin: 0px 24px 64px 24px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

#btn__try {
  width: 327px;
  height: 88px;
  background: var(--blue);
  color: #ffffff;
  font-size: 0.94rem;
  line-height: 1.625rem;
  box-shadow: 0px 8px 0px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  border: none;
}
#btn__try .first-line {
  display: block;
}
.bold {
  font-weight: bold;
}
form {
  width: 100%;
}

form ul {
  width: 100%;
  height: 90%;
  background: #ffffff;
  box-shadow: 0px 8px 0px rgba(0, 0, 0, 0.15);
  margin-top: 24px;
  padding: 30px;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border-radius: 10px;
}
li {
  width: 110%;
  margin-bottom: 16px;
  position: relative;
}

li input {
  width: 100%;
  height: 56px;
  border: solid 1px rgb(222, 222, 222);
  border-radius: 5px;
  padding: 12px;
}
input::placeholder {
  font-size: 0.875rem;
  font-weight: bold;
  color: #3d3b48;
  opacity: 0.75;
}
.error__text {
  font-size: 0.687rem;
  font-style: italic;
  color: var(--red);
  text-align: right;
  display: none;
}
.error__icon {
  width: 20px;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  display: none;
}

.error__icon.error_active,
.error__text.error_active {
  display: block;
}
#btn__Claim {
  background-color: var(--green);
  color: #ffffff;
  text-transform: uppercase;
  font-size: 0.94rem;
}

.disclaimer {
  width: 249px;
  color: #bdb7d4;
  text-align: center;
  font-size: 0.687rem;
  line-height: 21px;
}
.disclaimer a {
  color: var(--red);
}
.btn {
  cursor: pointer;
  outline: none;
}

@media (min-width: 1110px) {
  body {
    flex-direction: row;
  }
  header {
    width: 525px;
    height: 222px;
    text-align: left;
  }
  header h1 {
    font-size: 3.125rem;
    line-height: 3.43rem;
    margin-bottom: 1.15rem;
  }
  main {
    width: 540px;
  }
  #btn__try {
    width: 540px;
  }
  li {
    width: 100%;
  }
  .disclaimer {
    width: 100%;
  }
}
